<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ygl.mapper.read.ArticleInfoReadMapper">

    <resultMap type="com.ygl.entity.ArticleInfoPo" id="ArticleInfoMap">
                    <result property="articleId" column="article_id" jdbcType="VARCHAR"/>
                    <result property="useFlag" column="use_flag" jdbcType="INTEGER"/>
                    <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
                    <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
                    <result property="opterName" column="opter_name" jdbcType="VARCHAR"/>
                    <result property="opterId" column="opter_id" jdbcType="VARCHAR"/>
                    <result property="articleTitle" column="article_title" jdbcType="VARCHAR"/>
                    <result property="articleFj" column="article_fj" jdbcType="VARCHAR"/>
                    <result property="articleContent" column="article_content" jdbcType="VARCHAR"/>
            </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ArticleInfoMap">
        select
          article_id, use_flag, create_time, update_time, opter_name, opter_id, article_title, article_fj, article_content
        from ygl.article_info
        where article_id = #{articleId,jdbcType=VARCHAR}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ArticleInfoMap">
        select
        article_id, use_flag, create_time, update_time, opter_name, opter_id, article_title, article_fj, article_content
        from ygl.article_info
        <where>
                            <if test="articleId != null and articleId != ''">
                    and article_id = #{articleId,jdbcType=VARCHAR}
                </if>
                            <if test="useFlag != null">
                    and use_flag = #{useFlag,jdbcType=INTEGER}
                </if>
                            <if test="createTime != null">
                    and create_time = #{createTime,jdbcType=TIMESTAMP}
                </if>
                            <if test="updateTime != null">
                    and update_time = #{updateTime,jdbcType=TIMESTAMP}
                </if>
                            <if test="opterName != null and opterName != ''">
                    and opter_name = #{opterName,jdbcType=VARCHAR}
                </if>
                            <if test="opterId != null and opterId != ''">
                    and opter_id = #{opterId,jdbcType=VARCHAR}
                </if>
                            <if test="articleTitle != null and articleTitle != ''">
                    and article_title = #{articleTitle,jdbcType=VARCHAR}
                </if>
                            <if test="articleFj != null and articleFj != ''">
                    and article_fj = #{articleFj,jdbcType=VARCHAR}
                </if>
                            <if test="articleContent != null and articleContent != ''">
                    and article_content = #{articleContent,jdbcType=VARCHAR}
                </if>
                    </where>
    </select>
</mapper>